#sus-container {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#sus-hr-footer {
    width: 60%;
}

#sus-footer {
    font-size: 60%;
}
